header {
    position: relative;
    width: 100%;
    border-bottom: 1px solid $lineColor;

    .inner {
        position: relative;
        margin: 0 auto;
        width: 1280px;
        height: 80px;

        display: flex;
        align-items: center;

        >h1.logo {
            padding: 8px 16px;
            @include gradientText(28px, 1);
        }

        >nav {
            position: absolute;
            transform: translateX(-50%);
            left: 50%;

            display: flex;

            >ul {
                display: flex;
                align-items: center;

                >li {
                    >a {
                        padding: 8px 16px;
                        color: $primaryColor;
                        font: bold 14px/1 $mainFont;
                        border-radius: 30px;
                        cursor: pointer;

                        &:hover {
                            background: $hoverBgColor;
                        }
                    }
                }
            }
        }

        #myPage {
            position: relative;
            margin-left: auto;

            >ul {
                position: relative;
                display: flex;
                align-items: center;
                z-index: 1;

                >li {
                    >a,
                    >span {
                        padding: 8px 16px;
                        color: $primaryColor;
                        font: bold 14px/1 $mainFont;
                        border-radius: 30px;
                        cursor: pointer;

                        &:hover {
                            background: $hoverBgColor;
                        }
                    }

                    >ul {
                        position: absolute;
                        transform: translateX(-50%);
                        top: 40px;
                        left: 50%;
                        padding: 5px;
                        width: 120px;
                        display: flex;
                        flex-direction: column;
                        background: #fff;
                        border: 1px solid $lineColor;
                        border-radius: 5px;

                        >li {
                            position: relative;
                            width: 100%;
                            >a {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 100%;
                                padding: 5px;
                                color: $primaryColor;
                                font: bold 12px/1 $mainFont;
                                border-radius: 2.5px;
                            }
                            &:hover {
                                background: $hoverBgColor;
                            }
                        }
                    }
                }
            }
        }
    }
}
